@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}

main{margin:0 auto;width:998px;position:relative;clear:both;}

header{}

#about{}

#garant{background: url(images/fon3.jpg) no-repeat top center;background-color:#1d1c17; height:332px;}
#garant h2{text-transform:uppercase;padding:40px 0;text-align:center;font:36px "Trebuchet MS";color:#ffffff }
#garant p{text-align:center;color:#ffffff;font:18px "Trebuchet MS";margin-top:-5px;}
#garant div{vertical-align:top;position:relative;display:inline-block;font:14px "Trebuchet MS"; color:#ffffff;text-align:left;margin-top:30px;}
.divone{width:290px;}
.divtwo{width:340px;margin-right:-14px;}
.divthree{width:370px;}
#garant h3{float:left;font:40px "Tahoma"; font-weight:bold;height:100px;padding-top:10px;padding-right:5px;}
.two{color:#c1e723}
.three{color:#e7236d}

#services{background:url(images/fon4.jpg) no-repeat top center;background-color:#e6b53e;height:640px;}
#services h2 {font:36px "Trebuchet MS";text-transform:uppercase;padding:50px 0;text-align:center;}
#services ol{list-style:none;}
.chet{text-align:right;}
.nechet{text-align:left;}
#services ol li h3{font:24px "Trebuchet MS";padding-bottom:10px;}
#services ol li p{font:15px "Trebuchet MS";color:#ffffff;margin-bottom:20px;}
#services ol li.nechet img{padding:60px 40px 60px 0}
#services ol li.chet img{padding:60px 0 60px 40px}
#why{}

#black{}

#documents{}

#comments{}

#footer{}

footer{}

#splash{}
